.pcWrapper {
    width: 1200px;
    margin: auto;
}

.content {
    margin-top: 10px;
}

.BlockLeft {
    width: 800px;
}

.BlockLeft>* {
    margin-left: 20px;
    width: 380px;
    float: left;
    height: 350px;
}

.BlockRight {
    width: 380px;
    margin-left: 20px;
}

.ImageBlock {
    float: left;
    margin-left: 13px;  
}
