.htmlWrapper {
    width: 1200px;
    margin: auto;
}

.content {
    margin-top: 10px;
}

.BlockLeft {
    width: 800px;
}

.BlockLeft .carouselWrapper {
    width: 400px;
}

.BlockLeft .newsCard {
    width: 400px;
}

.BlockLeft>* {
    float: left;
}

.BlockRight {
    width: 400px;
}



.ImageBlock {
    float: left;
    margin-left: 13px;  
}