.logo {
    align-items: center;
    display: flex;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}

footer {
    text-align: center;
}

.register * {
    float: right !important;
    margin-right: 8px;
    margin-top: 6px;
    margin-bottom: 9px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 400px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

.carouselWrapper {
    width: 300px;
    height: 400px;
}

.newsblock {
    width: 300px;
    height: 400px;
}

.content {
    margin-top: 10px;
}

.content>* {
    float: left;
    margin-left: 10px;
}
